<div class="projects-carousel touch-carousel">

          <div class="portfolio-item item">
            <div class="portfolio-border">
              <div class="portfolio-thumb">
                <a class="lightbox" data-lightbox-type="ajax" href="https://vimeo.com/78468485">
                  <div class="thumb-overlay"><i class="fa fa-play"></i></div>
                  <img alt="" src="images/portfolio-1/1.png" />
                </a>
              </div>
              <div class="portfolio-details">
                <a ng-click="currentView = 'ViewOne'" class="clickable" >
                  <h4>Supply Chain Strategy</h4>
                </a>
              </div>
            </div>
          </div>

          <div class="portfolio-item item">
            <div class="portfolio-border">
              <div class="portfolio-thumb">
                <a class="lightbox" title="This is an image title" href="images/portfolio-big-01.jpg">
                  <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                  <img alt="" src="images/portfolio-1/2.png" />
                </a>
              </div>
              <div class="portfolio-details">
                <a ng-click="currentView = 'ViewTwo'" class="clickable" onclick="scroll(0,0)">
                  <h4>Sustainability Strategy</h4>
                </a>
              </div>
            </div>
          </div>

          <div class="portfolio-item item">
            <div class="portfolio-border">
              <div class="portfolio-thumb">
                <a href="#">
                  <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                  <img alt="" src="images/portfolio-1/3.png" />
                </a>
              </div>
              <div class="portfolio-details">
                <a ng-click="currentView = 'ViewThree'" class="clickable" onclick="scroll(0,0)">
                  <h4>Sustainability Footprint Assessment</h4>
                </a>
              </div>
            </div>
          </div>

          <div class="portfolio-item item">
            <div class="portfolio-border">
              <div class="portfolio-thumb">
                <a href="#">
                  <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                  <img alt="" src="images/portfolio-1/4.png" />
                </a>
              </div>
              <div class="portfolio-details">
                <a ng-click="currentView = 'ViewFour'" class="clickable" onclick="scroll(0,0)">
                  <h4>Technology Assessment</h4>
                </a>
              </div>
            </div>
          </div>

          <div class="portfolio-item item">
            <div class="portfolio-border">
              <div class="portfolio-thumb">
                <a class="lightbox" title="This is an image title" href="images/portfolio-big-02.jpg">
                  <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                  <img alt="" src="images/portfolio-1/5.png" />
                </a>
              </div>
              <div class="portfolio-details">
                <a ng-click="currentView = 'ViewFive'" class="clickable" onclick="scroll(0,0)">
                  <h4>Sustainability Design for New Builds</h4>
                </a>
              </div>
            </div>
          </div>

          <div class="portfolio-item item">
            <div class="portfolio-border">
              <div class="portfolio-thumb">
                <a href="#">
                  <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                  <img alt="" src="images/portfolio-1/6.png" />
                </a>
              </div>
              <div class="portfolio-details">
                <a ng-click="currentView = 'ViewSix'" class="clickable" onclick="scroll(0,0)">
                  <h4>Transport Operation Assessment and Fuel Reduction Programs</h4>
                </a>
              </div>
            </div>
          </div>

          <div class="portfolio-item item">
            <div class="portfolio-border">
              <div class="portfolio-thumb">
                <a class="lightbox" title="This is an image title" href="images/portfolio-big-03.jpg">
                  <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                  <img alt="" src="images/portfolio-1/7.png" />
                </a>
              </div>
              <div class="portfolio-details">
                <a ng-click="currentView = 'ViewSeven'" class="clickable" onclick="scroll(0,0)">
                  <h4>Site Assessment and Energy Reduction</h4>
                </a>
              </div>
            </div>
          </div>

          <div class="portfolio-item item">
            <div class="portfolio-border">
              <div class="portfolio-thumb">
                <a href="#">
                  <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                  <img alt="" src="images/portfolio-1/8.png" />
                </a>
              </div>
              <div class="portfolio-details">
                <a ng-click="currentView = 'ViewEight'" class="clickable" onclick="scroll(0,0)">
                  <h4>Biodiesel Production</h4>
                </a>
              </div>
            </div>
          </div>
        </div>