
<!-- Container -->
<div id="container">
  <header-directive></header-directive>
  <div class="page-banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>News</h2>
        </div>
        <div class="col-md-6">
          <ul class="breadcrumbs">
            <li><a href="#">Home</a></li>
            <li>News</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Start Content -->
  <div id="content">
    <div class="container">
      <div class="row blog-page">
        <!--Sidebar-->
        <div class="col-md-3 sidebar left-sidebar">
          <div class="widget widget-categories">
            <h4>News Archive <span class="head-line"></span></h4>
            <!-- <ul>
              <li>
                <a ng-click="current = 'july16'" class="clickable">July 2016</a>
              </li>
              <li>
                <a ng-click="current = 'june16'" class="clickable">June 2016</a>
              </li>
              <li>
                <a ng-click="current = 'may16'" class="clickable">May 2016</a>
              </li>
              <li>
                <a ng-click="current = 'feb16'" class="clickable">February 2016</a>
              </li>
              <li>
                <a ng-click="current = 'dec15'" class="clickable">December 2015</a>
              </li>
              <li>
                <a ng-click="current = 'nov15'" class="clickable">November 2015</a>
              </li>
              <li>
                <a ng-click="current = 'oct15'" class="clickable">October 2015</a>
              </li>
              <li>
                <a ng-click="current = 'sep15'" class="clickable">September 2015</a>
              </li>
              <li>
                <a ng-click="current = 'aug15'" class="clickable">August 2015</a>
              </li>
              <li>
                <a ng-click="current = 'apr15'" class="clickable">April 2015</a>
              </li>
              <li>
                <a ng-click="current = 'mar15'" class="clickable">March 2015</a>
              </li>
              <li>
                <a ng-click="current = 'feb15'" class="clickable">February 2015</a>
              </li>
              <li>
                <a ng-click="current = 'aug15'" class="clickable">August 2014</a>
              </li>
              <li>
                <a ng-click="current = 'jan14'" class="clickable">January 2014</a>
              </li>
              <li>
                <a ng-click="current = 'oct13'" class="clickable">October 2013</a>
              </li>
              <li>
                <a ng-click="current = 'sep13'" class="clickable">September 2013</a>
              </li>
              <li>
                <a ng-click="current = 'dec12'" class="clickable">December 2012</a>
              </li>
              <li>
                <a ng-click="current = 'nov12'" class="clickable">November 2012</a>
              </li>
              <li>
                <a ng-click="current = 'oct12'" class="clickable">October 2012</a>
              </li>
              <li>
                <a ng-click="current = 'sep12'" class="clickable">September 2012</a>
              </li>
              <li>
                <a ng-click="current = 'apr12'" class="clickable">April 2012</a>
              </li>
              <li>
                <a ng-click="current = 'mar12'" class="clickable">March 2012</a>
              </li>
              <li>
                <a ng-click="current = 'feb12'" class="clickable">February 2012</a>
              </li>
              <li>
                <a ng-click="current = 'aug11'" class="clickable">August 2011</a>
              </li>
              <li>
                <a ng-click="current = 'july11'" class="clickable">July 2011</a>
              </li>
            </ul> -->
            <ul>
              <li>
                <a ng-click="current = 'sixteen'" class="clickable""onclick="scroll(0, 0)">2016</a>
              </li>
              <li>
                <a ng-click="current = 'fifteen'" class="clickable" onclick="scroll(0, 0)">2015</a>
              </li>
              <li>
                <a ng-click="current = 'fourteen'" class="clickable" onclick="scroll(0, 0)">2014</a>
              </li>
              <li>
                <a ng-click="current = 'thirteen'" class="clickable" onclick="scroll(0, 0)">2013</a>
              </li>
              <li>
                <a ng-click="current = 'twelve'" class="clickable" onclick="scroll(0, 0)">2012</a>
              </li>
              <li>
                <a ng-click="current = 'eleven'" class="clickable" onclick="scroll(0, 0)">2011</a>
              </li>
            </ul>
          </div>

          <!-- Popular Posts widget -->
          <div class="widget widget-popular-posts">
            <h4>Recent Post <span class="head-line"></span></h4>
            <ul>
              <li>
                <div class="widget-thumb">
                  <a ng-click="current = 'sixteen'" class="clickable" onclick="scroll(0, 0)"><img src="images/blog-mini-01.jpg" alt="" /></a>
                </div>
                <div class="widget-content">
                  <h5><a ng-click="current = 'sixteen'" class="clickable" onclick="scroll(0, 0)">Neutral Fuels makes biodiesel a drop-in replacement for petro diesel</a></h5>
                  <span>Jul 29 2016</span>
                </div>
                <div class="clearfix"></div>
              </li>
              <li>
                <div class="widget-thumb">
                  <a ng-click="current = 'sixteen'" class="clickable" onclick="scroll(0, 0)"><img src="images/blog-mini-02.jpg" alt="" /></a>
                </div>
                <div class="widget-content">
                  <h5><a ng-click="current = 'sixteen'" class="clickable" onclick="scroll(0, 0)">Happy Fuel: Clean McDiesel</a></h5>
                  <span>Jun 07 2016</span>
                </div>
                <div class="clearfix"></div>
              </li>
              <li>
                <div class="widget-thumb">
                  <a ng-click="current = 'sixteen'" class="clickable" onclick="scroll(0, 0)"><img src="images/blog-mini-03.jpg" alt="" /></a>
                </div>
                <div class="widget-content">
                  <h5><a ng-click="current = 'sixteen'" class="clickable" onclick="scroll(0, 0)">Neutral Fuels wins second Golden Shield</a></h5>
                  <span>May 30 2016</span>
                </div>
                <div class="clearfix"></div>
              </li>
            </ul>
          </div>
          <!-- Video Widget -->
<!--             <div class="widget">
              <h4>Video <span class="head-line"></span></h4>
              <div>
                <iframe src="http://player.vimeo.com/video/63322694?byline=0&amp;portrait=0&amp;badge=0" width="800" height="450"></iframe>
              </div>
            </div> -->




          </div>
          <!--End sidebar-->

           <!-- Start Blog Posts -->
          <div class="col-md-9 blog-box">

          <sixteen ng-if="current == 'sixteen'"> </sixteen>
          <fifteen ng-if="current == 'fifteen'"> </fifteen>
          <fourteen ng-if="current == 'fourteen'"> </fourteen>
          <thirteen ng-if="current == 'thirteen'"> </thirteen>
          <twelve ng-if="current == 'twelve'"> </twelve>
          <eleven ng-if="current == 'eleven'"> </eleven>



          
            
            
              <!-- Start Post -->
              <!--               <div class="blog-post link-post"> -->
              <!-- Post Content -->
<!--                 <div class="post-content">
                  <div class="post-type"><i class="fa fa-link"></i></div>
                  <h2><a href="#">Link Post</a></h2>
                  <ul class="post-meta">
                    <li>By <a href="#">iThemesLab</a></li>
                    <li>December 30, 2013</li>
                    <li><a href="#">WordPress</a>, <a href="#">Graphic</a></li>
                    <li><a href="#">4 Comments</a></li>
                  </ul>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                  <a class="main-button" href="#">Read More <i class="fa fa-angle-right"></i></a>
                </div>
              </div> -->
              <!-- End Post -->
              <!-- Start Post -->
              <!-- <div class="blog-post gallery-post"> -->
              <!-- Post Gallery -->
<!--                 <div class="post-head">
                  <div class="post-slider touch-slider">
                    <div class="item">
                      <a class="lightbox" title="This is an image title" href="images/blog-02.jpg" data-lightbox-gallery="gallery1">
                        <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                        <img alt="" src="images/blog-02.jpg">
                      </a>
                    </div>
                    <div class="item">
                      <a class="lightbox" title="This is an image title" href="images/blog-03.jpg" data-lightbox-gallery="gallery1">
                        <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                        <img alt="" src="images/blog-03.jpg">
                      </a>
                    </div>
                    <div class="item">
                      <a class="lightbox" title="This is an image title" href="images/blog-04.jpg" data-lightbox-gallery="gallery1">
                        <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                        <img alt="" src="images/blog-04.jpg">
                      </a>
                    </div>
                  </div>
                </div> -->
                <!-- Post Content -->
<!--                 <div class="post-content">
                  <div class="post-type"><i class=" fa fa-picture-o"></i></div>
                  <h2><a href="#">Gallery Post With Nice Lightbox.</a></h2>
                  <ul class="post-meta">
                    <li>By <a href="#">iThemesLab</a></li>
                    <li>December 30, 2013</li>
                    <li><a href="#">WordPress</a>, <a href="#">Graphic</a></li>
                    <li><a href="#">4 Comments</a></li>
                  </ul>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                  <a class="main-button" href="#">Read More <i class="fa fa-angle-right"></i></a>
                </div>
              </div> -->
              <!-- End Post -->
              
              <!-- Start Pagination -->
              <div id="pagination">
                <span class="all-pages">Page 1 of 3</span>
                <span class="current page-num">1</span>
                <a class="page-num" href="#">2</a>
                <a class="page-num" href="#">3</a>
                <a class="next-page" href="#">Next</a>
              </div>
              <!-- End Pagination -->
            </div>
            <!-- End Blog Posts -->
          </div>
        </div>
      </div>
      <!-- End Content -->
      <footer-directive></footer-directive>
    </div>
    <!-- End Container -->
    <!-- Go To Top Link -->
    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>
    <script type="text/javascript" src="js/script.js"></script>
